:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.classic{
  --background: #5D7B87e8;
  --foreground: #425b6986;
  --text-primary: #FFFFFF;
  --text-secondary: #E8D55D;
  --accents: #FFFFFF;
}

.vitruvian{
  --background: #313042e8;
  --foreground: #23212f7c;
  --text-primary: #BEA966;
  --text-secondary: #F5E3AD;
  --accents: #bea966;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: black;
  background: var(--background);
  font-family: var(--font-futura-medium), Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  all:unset
  
}

.button{
    background-color: var(--foreground);
    cursor: pointer;
    width: fit-content;
    padding: 5px;
    font-size: 22px;
    box-shadow: 0px 1px 1px 0px var(--text-primary);
    border-bottom: 2px solid transparent;
    color: var(--text-primary);
}
.button:hover{
    box-shadow: 0px 0px 1px 0px var(--text-secondary);
    color: var(--text-secondary);
    border-bottom: 2px solid var(--text-secondary);
}

.bg-gradient{
  background: linear-gradient(135deg, var(--background), var(--accents));
}

.noise-background{
  /* background: linear-gradient(135deg, var(--background), var(--accents)); */
  background-color: var(--background);
}

.smoke-container{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.flex{
  display: flex;
}

.alieron{
  font-family: var(--font-ailerons);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


