:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.classic{
  --background: #5D7B87;
  --foreground: #425B69;
  --text-primary: #FFFFFF;
  --text-secondary: #E8D55D;
  --accents: #FFFFFF;
}

.vitruvian{
  --background: #313042;
  --foreground: #23212fbd;
  --text-primary: #BEA966;
  --text-secondary: #F5E3AD;
  --accents: #BEA966;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: black;
  background: var(--background);
  font-family: var(--font-futura-medium), Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  all:unset
  
}

.button{
    background-color: var(--foreground);
    cursor: pointer;
    width: fit-content;
    padding: 5px;
    margin: 20px auto;
    font-size: 22px;
    box-shadow: 0px 1px 1px 0px var(--text-primary);
    border-bottom: 2px solid transparent;
    color: var(--text-primary);
}
.button:hover{
    box-shadow: 0px 0px 1px 0px var(--text-secondary);
    color: var(--text-secondary);
    border-bottom: 2px solid var(--text-secondary);
}

.flex{
  display: flex;
}

.alieron{
  font-family: var(--font-ailerons);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


