.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  /* background-color: var(--background); */
  /* background: linear-gradient(135deg, var(--background), var(--accents)); */
}

