.groupGrid{
    flex-direction: column;
    width: 100%;
}

.group{
    display: flex;
    width: 100%;
    aspect-ratio: 4 ;
    padding-left: 10px;
    box-shadow: 0px 0px 2px 1px var(--accents);
}

.group:not(:nth-child(4)){
    margin-bottom: 10px;
}

.groupImages{
    height: 100%;
    aspect-ratio: 1;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
}

.groupImages image{
    aspect-ratio: 1;
}

.groupInfo{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.groupInfo h2{
    color: black;
    font-size: min(calc(15px + 1vw), 24px);
}

.groupInfo div{
    color: rgb(80, 80, 80);
}

.groupImageWrapper{
    position: relative;
}