.modalBackground{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    border-radius: 16px;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.endModal{
    width: 80%;
    aspect-ratio: 1;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 1px var(--accents);
    color: var(--text-primary);
}

.endModal h2{
    font-size: min(42px, calc(20px + 1.5vw));
    color: var(--text-secondary);
}

.endMessage{
    font-size: 18px;
}

.lives{
    color: var(--text-secondary);
}

.guesses{
    margin: 10px auto;
}

.modalButton{
    margin: 20px auto;
}
.modalButton:hover{
    box-shadow: 0px 0px 1px 0px var(--text-secondary);
    color: var(--text-secondary);
    border-bottom: 2px solid var(--text-secondary);
}

.guess{
    display: flex;
    margin-bottom: 5px;
}

.itemBox{
    width: 48px;
    aspect-ratio: 1;
    border-radius: 8px;

}