.container {
  position: relative;
  z-index: 50;
  width: fit-content;
}

.container:not(:last-child){
  margin-right: 20px;
}

.button {
  cursor: pointer;
  font-weight: 500;
}

.button.active {
    box-shadow: 0px 0px 1px 0px var(--text-secondary);
    color: var(--text-secondary);
    border-bottom: 2px solid var(--text-secondary);
}

.menu {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  background-color: var(--background);
  box-shadow: 0px 0px 1px 0px var(--text-secondary);
  min-width: 150px;
  width: max(100%,fit-content);
  z-index: 51;
}

.label {
  font-size: 14px;
}

.checkmark {
  margin-left: 12px;
  color: var(--text-primary);
  font-weight: bold;
}

