.modalBackground{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    border-radius: 16px;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.endModal{
    width: 80%;
    aspect-ratio: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 2px 2px 10px 2px rgb(116, 116, 116);
}

.endModal h2{
    font-size: 42px;
    color: var(--text-primary);
}

.guesses{
    font-size: 24px;
}

.modalButton{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 8px;
    width: fit-content;
    padding: 5px;
    margin: 20px auto;
    font-size: 22px;
}