.gridContainer{
    display: flex;
    position: relative;
    width: 550px;
    justify-content: center;
}

.gridBelow{
    display: flex;
    margin-top: 20px;
    padding: 0px 20px

}

.controlButton{
    height: fit-content;
}

.controlButton:not(:last-child){
    margin-right: 10px;
}

.controlButton:disabled{
    box-shadow: none;
    cursor: default;
    color: gray;
}

.lives{
    font-size: 52px;
    margin: auto;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: right;
    color: #B92525;
    width: 200px;
    font-weight: 900;
}

.healthbar{
    height: 5px;
    background-color: #B92525;
    margin-left: auto;
}

.title{
    text-align: center;
    font-family: var(--font-ailerons);
    font-size: 52;
    color: var(--text-primary);
}

.showResultsButton{
    margin: auto;
}

.highlight{
    color: var(--text-secondary);
}