div.notification{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: var(--foreground);
    color: var(--text-primary);
    padding: 5px;
    font-size: 22px;
    font-weight: 400;
    box-shadow: 0 0 1px var(--accents);
}

div.visible{
    display: block;
}